<style>
html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: auto;
}

h1 {
  font-size: 8vw;
  margin: auto;
  width: auto;
  height: auto;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3.25rem;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main {
  font-family: 'Baloo Paaji 2', cursive;
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

#description {
  height: auto;
  width: auto;
  font-size: 20px;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 15px;
  font-weight: bold;
}

#listHeading {
  font-size: 20px;
  font-weight: bolder;
  margin: 0px;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-tribute {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  font-size: 15px;  
  margin: 15px 0 5px 0;
  margin-top: 1px;
  text-align: center;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#headline {
  margin: 25px 0;
  text-align: center;
  justify-content: center;
  max-width: 950px;
}

#tribute-info {
  max-width: 1000px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  font-size: 20px;
}

ul {
  max-width: 400px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

#listDate {
  background-color: rebeccapurple;
  margin: 0px;
  color: white;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
#listHeading {
  background-color: rebeccapurple;
  margin: 0px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

#listDescription {
  font-size: 15px;
  margin: 0px;
  border: rebeccapurple;
  border-width: thin;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
}

.thumbinner {
  float: right;
  clear: right;
  display: block;
  direction: ltr;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
  font-size: 15px;
}
</style>